* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 100%;
  min-height: 100vh;
  background-image: url("../images/bitcoin-4481815_1920.jpg");
  background-size: fill;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#box-shadow {
  width: auto;
  height: auto;
  opacity: 90%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#app-root {
  min-width: 100%;
  min-height: 100%;
  opacity: 91%;
  background-color: #f2f2f2;
}

#box-container {
  min-width: var(--box-container-width);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#rate-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: var(--box-container-width);
  height: 100%;
}

#box-header {
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  flex-grow: 1;
  font-family: Noto Sans Japanese, sans-serif;
  font-optical-sizing: auto;
  font-size: var(--box-fontbox-font);
  text-align: left;
  text-transform: capitalize;
  font-weight: 600;
}

.box-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  font-family: Noto Sans Japanese, sans-serif;
  font-optical-sizing: auto;
  font-size: var(--box-fontbox-font);
  text-align: left;
}

.box-row-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.box-row-sub {
  display: flex;
  padding-right: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  background-color: rgb(235, 235, 230);
  padding: 1rem 0;
  animation: fadeIn;
  animation-duration: 0.75s;
}

.box-row-sub-label {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-row-sub-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-row-sub-content > * {
  text-align: left;
  font-family: Poppins, sans-serif;
  font-weight: 200;
  padding: 0 10px;
}

.box-row-sub-label > div {
  text-align: left;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  padding: 0 10px;
}

.row-cell,
.header-cell {
  padding: 8px 0px;
  flex: 1 1 0;
  width: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  color: #191919;
  text-align: left;
}

.cell-content {
  text-align: center;
  justify-content: center;
}

.box-row-main:last-child,
.box-row-main:last-child > div,
.box-row-sub-content,
#box-header:last-child {
  width: 18.65%;
  padding-left: 0;
}

.row-cell:last-of-type,
.header-cell:last-of-type {
  display: flex;
  justify-content: right;
  flex-direction: row;
  flex-grow: 0.25;
}

.expand {
  padding: 0 0.5rem;
}

.expand:hover {
  cursor: pointer;
}

.fav {
  padding: 0 0.5rem;
}

.row-cell:first-child,
.header-cell:first-child {
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-grow: 0.5;
}

.green {
  color: rgb(42, 194, 122);
}

.red {
  color: rgb(250, 100, 100);
}

.orange {
  color: rgb(255, 153, 0);
}

#box-header {
  background-color: white;
  border: lightgray solid 1px;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: var(--box-container-width);
  height: auto;
}

.link {
  color: inherit;
  text-decoration: none;
}

.cell-content-fav {
  color: var(--fav-icon-color-unmarked);
}

.cell-content-fav:hover {
  color: gray;
  cursor: pointer;
}

:root {
  --fav-icon-color-unmarked: #b4b4b4;
  --fav-icon-color-marked: red;
  --box-container-width: 80vw;
  --box-font: 14px;
  --button-font: 14px;
}

#action-bar {
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: var(--box-container-width);
  height: auto;
  padding: 20px 0;
  gap: 10px;
  border: lightgray solid 1px;
  border-bottom: 0px;
}

.action-bar-cell-button {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  padding: 5px 12px;
  color: #f2f2f2;
  background-color: rgb(5, 110, 255);
  border-radius: 5px;
  border: solid 2px rgb(5, 110, 255);
  font-size: var(--button-font);
}

.action-bar-cell-toggle {
  font-size: var(--button-font);
  padding: 4px 10px;
  border: 1px solid rgb(5, 110, 255);
  color: #f2f2f2;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

button {
  cursor: pointer;
}

#action-bar-cell-0 {
  margin-left: 10px;
}

.action-bar-cell-toggle:last-child {
  border-radius: 0 20px 20px 0;
  background-color: #f2f2f2;
  color: rgb(5, 110, 255);
}

.action-bar-cell-toggle:first-child {
  background-color: rgb(5, 110, 255);
  border-radius: 20px 0px 0px 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
    display: none;
  }

  50% {
    opacity: 0.75;
    display: flex;
  }

  100% {
    opacity: 1;
    display: flex;
  }
}

@media (max-width: 1280px) {
  :root {
    --box-container-width: 85vw;
  }
  .row-cell:nth-child(2),
  .header-cell:nth-child(2) {
    flex-grow: 0.4;
  }

  .row-cell:nth-child(6),
  .header-cell:nth-child(6) {
    flex-grow: 0.5;
  }

  .row-cell:nth-child(3) {
    padding-right: 8px;
  }

  .row-cell:nth-child(4),
  .header-cell:nth-child(4) {
    flex-grow: 0.75;
  }
}

@media (max-width: 1024px) {
  :root {
    --box-container-width: 85vw;
  }
  .row-cell:nth-child(2),
  .header-cell:nth-child(2) {
    flex-grow: 0.4;
  }

  .row-cell:nth-child(6),
  .header-cell:nth-child(6) {
    flex-grow: 0.5;
  }

  .row-cell:nth-child(3) {
    padding-right: 8px;
  }

  .row-cell:nth-child(4),
  .header-cell:nth-child(4) {
    flex-grow: 0.75;
  }

  #action-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  #action-bar-cell-0 {
    margin-left: 0px;
  }

  .row-cell:nth-child(1),
  .header-cell:nth-child(1) {
    flex-grow: 0.4;
  }
}

@media (max-width: 768px) {
  :root {
    --box-container-width: 85vw;
    --box-fontbox-font: 13px;
    --button-font: 13px;
  }

  .row-cell:nth-child(1),
  .header-cell:nth-child(1) {
    flex-grow: 0.3;
  }

  .row-cell:nth-child(2),
  .header-cell:nth-child(2) {
    flex-grow: 0.3;
  }

  .row-cell:nth-child(3) {
    padding-right: 8px;
  }

  .row-cell:nth-child(4),
  .header-cell:nth-child(4) {
    flex-grow: 0.75;
  }

  #action-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0px;
  }
}

@media (max-width: 640px) {
  :root {
    --box-container-width: 100%;
    --box-font: 13px;
    --button-font: 13px;
  }
  .row-cell:nth-child(2),
  .header-cell:nth-child(2) {
    flex-grow: 0.25;
  }
  .row-cell:nth-child(3) {
    padding-right: 2px;
  }

  .row-cell:nth-child(4),
  .header-cell:nth-child(4) {
    flex-grow: 0.5;
    padding-left: 2px;
  }
}

@media (max-width: 512px) {
  :root {
    --box-container-width: 95vw;
    --box-font: 12px;
    --button-font: 12px;
  }
  .row-cell:nth-child(2),
  .header-cell:nth-child(2) {
    flex-grow: 0.3;
  }
  .row-cell:nth-child(3) {
    padding-right: 2px;
  }

  .row-cell:nth-child(4),
  .header-cell:nth-child(4) {
    flex-grow: 0.75;
  }
}

@media (max-width: 476px) {
  .header-cell {
    font-size: 10px;
  }

  .header-cell:nth-child(3),
  .header-cell:nth-child(5) {
    padding-left: 6px;
  }

  :root {
    --box-container-width: 99vw;
    --box-fontbox-font: 11px;
    --button-font: 12px;
  }
  .row-cell:nth-child(2),
  .header-cell:nth-child(2) {
    flex-grow: 0.25;
  }
  .row-cell:nth-child(3),
  .header-cell:nth-child(3) {
    flex-grow: 0.4;
    word-break: break-all;
    padding-right: 2px;
  }

  .row-cell:nth-child(4),
  .header-cell:nth-child(4) {
    padding-right: 2px;
    flex-grow: 0.4;
  }

  .action-bar-cell-button {
    padding: 2px 10px;
    color: #f2f2f2;
  }

  #action-bar {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  #action-bar > * {
    flex-grow: 1;
  }

  .action-bar-cell {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #action-bar-cell-2 {
    order: -1;
  }

  .action-bar-cell-toggle {
    padding: 2px 5px;
  }
}
